<h1>Contact Us</h1>
<hr>
<form>
    <div class="container">
    <div class="row">

    <div class="col-md-6">
    <img class="img-responsive" src="./assets/img/hukkeri.jpg" alt="hukkeri sir">
    
    <h2>Prof. Satish Hukkeri</h2> 
    <h2>Training and Placement Officer</h2>
    </div>
    <div class="col-md-6">
    <h1>Address : </h1>

    <h2>KLS Gogte Institute of Technology<br>
        Udyambag, Belagavi-590008, Karnataka, India<br>
        E-Mail: placementcell@git.edu<br>
        Fax : +91-831-2441909<br>
        Phone : +91-831-2405500, +91-9845051731
    </h2>
    </div>

</div>
</div>
</form>
