.form {align-items: center;}
.form h2{
  border-right: 1px solid #dfdfdf;
  margin-right: 2rem;
  padding-right: 2rem;
  height: 156px;
  line-height: 156px;
}

.form {align-items: center;}
.form h2{
  border-right: 1px solid #dfdfdf;
  margin-right: 2rem;
  padding-right: 2rem;
  height: 156px;
  line-height: 156px;
}
.btn {
  padding: 10px 20px;
  
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid;
  background-color: #fff;
  color: #000;
}

textarea {
  resize: none;
}