form label{
  min-width: 200px;
text-align: right;
margin-right: 1rem;
}
form button{
  margin-left:200px;
}
.btn {
  padding: 10px 20px;
  
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid;
  background-color: #fff;
  color: #000;
}

textarea {
  resize: none;
}