<table class="table table-striped">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Company name</th>
      <th>Full name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let u of hrs;let count = index">
      <td>{{count+1}}</td>
      <td>{{company_name}}</td>
      <td>{{full_name}}</td>
      <td>{{email}}</td>
      <td>{{phone}}</td>
    </tr> -->
    <tr>
      <td>1</td>
      <td>Predictive Analytics Solutions</td>
      <td>Kedar Kulkarni</td>
      <td>kedarkulkarni010@gmail.com</td>
      <td>9036103678</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Accenture</td>
      <td>Akash Nayak</td>
      <td>akash@gmail.com</td>
      <td>9036103421</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Elastic Search</td>
      <td>Gurudev</td>
      <td>gurudev@gmail.com</td>
      <td>8032103678</td>
    </tr>
  </tbody>
</table>